p {
	color: #001f25;
	
	}
	
h1 {
	color: navy;
	font-family: 'VT323', ;
	text-align: center;
	padding-top: 50px;
	}
	
body{
	background-color: #26596A;
	
	}
	

	
head{
background-color: #0F670F;
}

#randomtext{

	border: 5px;
	border-style: dashed;
	border-width: 2px;
	font-size: 1.5em;

}

.lorem{
border: 5px;
border-style: dashed;
}


#navbar{
	text-align: center;
	top: 0;
	width: 475px;
	float: left;
	padding: 20px;
	position: fixed;
	background-color: #5a7178;
	padding: 0;
	
	
	}
	
	
#navbar ul {
	list-style-type: none;
}

#navbar li{
	float:left;
}
#navbar ul li a:hover {
	background-color: white;
	color: black;
}

#navbar ul li a:visited{
	color: #001f25;
}

#navbar ul li a:link{
	color: #001f25;
}

#navbar ul li a{
	display: block;
	text-decoration: none;
	
	padding: 15px 15px;
	color: #001f25;
	
}

#main{
	padding-top: 30px;
	margin: 20px 100px;
	border: solid;
	padding: 20px;
	border-radius: 17px;
}
