p {
	color: #001f25;
	font-family: 'Source Code Pro' ;
	
 }
	
	
	
	
	
h1 {
	color: #142027;
	font-family: 'VT323' ;
	text-align: center;
	padding: 50px;
	background-color: #565595;
	display: inline-block;
	
  }
	
	
	
	
	
	
body{
		background-color: #26596A;
	}

	
	
	
	
#bios li{
		padding-bottom: 39px;

	}

		
		
		
#bios h2{
		color: #002402;
		}

	
	
	
	
head{
	background-color: #0F670F;
}





#main li{
	font-family: 'Exo 2';

}




#picstitle{
	font-family: 'Exo 2';
	color: #142027;
}





#navbar{
	text-align: center;
	top: 0;
	width: 475px;
	float: left;
	padding: 20px;
	position: fixed;
	background-color: #5a7178;
	padding: 0;
	
	
	}
	
	
#navbar ul {
	list-style-type: none;
}


#navbar li{
	float:left;
}



#navbar ul li a:hover {
	background-color: white;
	color: black;
}


#navbar ul li a:visited{
	color: #001f25;
}


#navbar ul li a:link{
	color: #001f25;
}


#navbar ul li a{
	display: block;
	text-decoration: none;
	font-family: 'VT323' ;
	padding: 15px 15px;
	color: #001f25;
	
	
}




#languages {
	display:inline-block;
	padding: 20px;
	border: solid #003133;
	margin-bottom: 30px;
}



#main{
	
	margin: 20px 100px;
	border: solid;
	padding: 50px;
	border-radius: 17px;
	background-color: #4C986D;
	color: #001f25;
}




#welcome{
	color: #0D4A4D;	
	font-size: 200%;
}




#jointeam{

	padding-bottom: 30px;
	
}



#upcomingcomp{

	padding-bottom: 30px;
	padding-top: 25px; 
	
	
}




img{

	padding: 50px;

}